@import 'bourbon'

#show-project
  .cover-image
    border: 1px solid red
    height: 100%
    height: 100px
    // margin-top: -85px
    // padding-top: 85px
    background-size: cover
  h1.title
    margin: 0
    padding: 0
  p.description
    font-size: em(20px)
    margin: 10px 0 40px 0

  .project-image
    margin-bottom: 40px
    img
      /* Just in case there are inline attributes */
      position: relative
      width: 100% !important
      height: auto !important
    &:last-child
      margin-bottom: 0
